# Usando Python e SQL para criar bancos de dados

Para criar um banco de dados com python basta ter o driver/biblioteca específica para o SGBD que pretende usar e criar a estrutura com comandos SQL.

## SQLite

No SQLite, por não ter "burocracias" no ato da conexão, se usar um nome de banco que não exista no diretória ele cria o banco automaticamente.

In [4]:
import sqlite3

db_connection = sqlite3.connect("db/loja2.db")

Banco criado, agora criamos o cursor para usarmos comandos SQL:

In [5]:
# cria o cursor
cursor = db_connection.cursor()

Agora podemos usar SQL para criar nossas tabelas:

In [11]:
cursor.execute("SELECT * FROM clientes")
for linha in cursor:
    print(linha)

(1, 'Fred', '88888888888', 'Aquela rua', 81955555555)
(2, 'maria', '99999999999', 'Rua 2', 12345678901)
(3, 'Frederico2', '66666666666', 'Aquela rua', 81955555555)

In [10]:
cursor.execute("""CREATE TABLE clientes (
               id INTEGER PRIMARY KEY AUTOINCREMENT,
               nome VARCHAR(255) NOT NULL, 
               cpf VARCHAR(11) UNIQUE,
               endereco VARCHAR(255) NOT NULL, 
               telefone INTEGER CHECK(telefone BETWEEN 00000000000 AND 99999999999) NOT NULL
               )""")

OperationalError: table clientes already exists

## Alimentando a tabela com dados:

In [9]:
sql = "INSERT INTO clientes (nome, cpf, endereco, telefone) VALUES (?, ?, ?, ?)"
val = [("Fred", "88888888888","Aquela rua", 81955555555), ("maria", "99999999999", "Rua 2", 12345678901)]
cursor.executemany(sql, val)

cursor.execute("INSERT INTO clientes (nome, cpf, endereco, telefone) VALUES ('Frederico2', '66666666666', 'Aquela rua', 81955555555)")

db_connection.commit()

In [42]:
cursor.execute("""
CREATE TABLE seila2 (
	id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
	nome TEXT,
	ClientesID INTEGER,
	CONSTRAINT seila2_Cliente_FK FOREIGN KEY (ClientesId) REFERENCES Clientes(Id)
)
""")
print(cursor)

<sqlite3.Cursor object at 0x000002368AC32840>

In [45]:
cursor.execute("INSERT INTO seila2 (nome, ClientesID) VALUES ('jacarana',1)")
db_connection.commit()

In [43]:
db_connection.commit()

In [31]:
cursor.execute("SELECT * FROM clientes")

resultado = cursor.fetchall()

for linha in resultado:
    print(linha)

(1, 'Fred', '88888888888', 'Aquela rua', 81955555555)
(2, 'maria', '99999999999', 'Rua 2', 12345678901)
(3, 'Frederico2', '66666666666', 'Aquela rua', 81955555555)

In [39]:
db_connection.close()